@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

header {
    width: 100%;
}

.banner {
    height: 400px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

.banner h1 span {
    font-size: 32px;
    font-weight: 400;
}

nav {
    background-color: #3a3a3a;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 15px 20px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: white;
}
